.footer {
  background-color: rgb(30, 30, 30);
  text-align: center;
  padding: 60px;
}

.footer a {
  font-size: 45px;
  color: rgb(100, 100, 240);
}

.footer p {
  margin-top: 15px;
  color: rgb(110,110,110);
}
